.reloj{
  width: 700px;
  height: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.hora, .min, .seg{
  flex: 30%;
  font-size: 150px;
  text-align: center;
}
.puntos{
  flex: 5%;
  font-size: 140px;
  text-align: center;

}
