*{
font-family: 'Lucida Sans Unicode';
}
.border{
  border: 1px solid black;

}

.calculadora{
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;
}
.pantalla{
  padding: 10px;
  display: block;
  height: 80px;
  max-width: 500px;
  font-size: 40px;
  text-align: right;
  overflow: auto;
  white-space: nowrap;
}
.teclado{
  background-color: gray;

  }
.btn{
  padding: 20px;
  margin: 5px;
  min-width: 45px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}

.fila1{
  display: flex;
  justify-content: flex-end;
}

.btn:hover{
  transition: 0.1s;
  background-color: lightgray;
}
